* {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Helvetica';
    background-color: #efeef3;
    font-weight: 300;
}

.small_txt {
    font-size: 0.6rem !important;
}

body {
    box-sizing: border-box;
    /* border: blue solid; */
    overflow-x: hidden;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
   text-decoration: none;
}

.nav-menu ul {
    list-style-type: none;
    position: fixed;
}

.wrapper ul {
    list-style-type: disc;
}

li {
    padding: 0;
    margin: 1.5rem;
}

.page {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%; 
}

.nav-menu {
    /* border: dashed black; */
 
    font-size: 1rem;
    width: 10%;
    color: black;
    display:flex;
    flex-direction: column;
    background-color: #efeef3;
    padding: 5rem;
}

.content {
    /* border: black solid; */
    position: relative;
    width: 90%;
    font-size: 0.9rem;
    padding: 5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper ul {
    padding: 0;
    margin: 0;
}

.wrapper p,h2 {
    width: 65%;
}

.wrapper a {
    text-decoration: underline;
}

.wrapper a:hover {
    color: blue;
}
.wrapper img {
    aspect-ratio: 16/9;
    width: 60%;
    height: auto;
}

@media screen and (max-width: 768px) {
   
    .page {

        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%; 
    }

    .small_txt {
        font-size: 0.5rem !important;
    }
    .nav-menu {
        /* border: black solid; */
        z-index: 2;
        margin: 0;
        padding: 0;
        width: 100vw;
        /* font-size: 1rem; */
    }

    .nav-menu nav {

        position: relative;
        display:flex;
        /* border: green solid; */
        flex-direction: row;
        width:fit-content;
        
    }

    .nav-menu ul {
        /* border: solid red; */
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: start;
        
    }

    .nav-menu li {
        /* position: fixed; */
        margin-left: 1vw;
        padding: 0.5vw;
        font-size: 1rem;
        /* border: blue solid; */
    }

    .content {
        /* border: black solid; */
        position: relative;
        width: 90%;
        font-size: 0.9rem;
        padding: 5rem;
    }

    .wrapper p {
        width: 100vw;
    }

}
    


