* {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Helvetica';
    background-color: #efeef3;
    font-weight: 300;
}

body {
    box-sizing: border-box;
    /* border: blue solid; */
    overflow-x: hidden;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
   text-decoration: none;
}

.nav-menu ul {
    list-style-type: none;
}

.wrapper ul {
    list-style-type: disc;
}

li {
    padding: 0;
    margin: 1.5rem;
}

.page {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%; 
}

.nav-menu {
    /* border: dashed black; */
    font-size: 1rem;
    width: 10%;
    color: black;
    display:flex;
    flex-direction: column;
    background-color: #efeef3;
    padding: 5rem;
}

.content {
    /* border: black solid; */
    width: 90%;
    font-size: 0.9rem;
    padding: 5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper ul {
    padding: 0;
    margin: 0;
}

.wrapper p,h2 {
    width: 65%;
}

.wrapper a {
    text-decoration: underline;
}

.wrapper a:hover {
    color: blue;
}
.wrapper img {
    aspect-ratio: 16/9;
    width: 60%;
    height: auto;
}

